.footer {
  padding-top: 15px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-main {
  display: flex;
  align-items: center;
  gap: 50px;
}

.title {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.1px;
  color: #606f89;
}

.footer-main h4,
.footer-main h5 {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.52px;
  letter-spacing: 0.05em;
  color: #606f89;
}
